:root {
    --primary: #1A2333;
    --secondary: #4A6572;
    --accent: #00FFE0;
    --text: #CCD6DD;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
}

/* 通用组件样式 */
.input-group {
    margin: 1.5rem 0;
    position: relative;
}

.input-group input {
    width: 80%;
    padding: 12px 40px;
    background: rgba(74, 101, 114, 0.3);
    border: 1px solid var(--secondary);
    border-radius: 8px;
    color: var(--text);
    font-size: 16px;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent);
}

.info-card {
    background: var(--secondary);
    padding: 1.5rem;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 登录页特定样式 */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0d1520, #001835);
}

.login-card {
    background: rgba(26, 35, 51, 0.9);
    padding: 2rem;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 30px rgba(0, 255, 224, 0.1);
}

.login-btn {
    background: linear-gradient(135deg, #4A6572, #2F4353);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.login-btn:hover {
    box-shadow: 0 0 15px rgba(74, 101, 114, 0.5);
}

.vital-signs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 组一行 */
    gap: 10px;
    /* 组与组之间的间距（大） */
}


.data-group {
    display: flex;
    gap: 50px;
    /* 组内段落的间距（小） */
}

.infomation {
    color: var(--accent);
    border-left: 3px solid var(--accent);
    padding-left: 1rem;
}

.dashborad-btn {
    background: rgba(26, 35, 51, 0.9);
    color: white;
    padding: 2rem;
    margin: 10px 0px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 255, 224, 0.1);
    transition: all 0.3s;
}


/* 用户基本信息页面 */
.dashboard {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
}

.sidebar {
    background: var(--primary);
    padding: 1rem;
    border-right: 1px solid var(--secondary);
}

.patient-info {
    background: rgba(74, 101, 114, 0.15);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}